<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ShoViz" culture="neutral" publicKeyToken="14eb30934789ddca" />
        <codeBase version="2.0.5.0" href="file://C:\Program Files\Sho 2.0 for .NET 4\bin\ShoViz.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MathFunc" culture="neutral" publicKeyToken="af39242306d6159d" />
        <codeBase version="2.0.5.0" href="file://C:\Program Files\Sho 2.0 for .NET 4\bin\MathFunc.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MatrixInterf" culture="neutral" publicKeyToken="1fa71b5ffec10e32" />
        <codeBase version="2.0.5.0" href="file://C:\Program Files\Sho 2.0 for .NET 4\bin\MatrixInterf.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ShoArray" culture="neutral" publicKeyToken="1635376d5e62ab5f" />
        <codeBase version="2.0.5.0" href="file://C:\Program Files\Sho 2.0 for .NET 4\bin\ShoArray.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
